<div class="card p-3">
  <h3>Generate Certificate</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="issuer" class="form-label">Issuer CA (alias) </label>
      <select id="issuer" class="form-select" formControlName="issuerCertificateAlias">
        <option value="">-- choose issuer --</option>
        <option *ngFor="let a of issuers" [value]="a">{{ a }}</option>
      </select>
      <div *ngIf="form.get('issuerCertificateAlias')?.touched && form.get('issuerCertificateAlias')?.invalid && !isAdmin" class="text-danger">
        Please select issuer
      </div>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Certificate Type </label>
      <select id="type" class="form-select" formControlName="type">
        <option value="ROOT">ROOT</option>
        <option value="INTERMEDIATE">INTERMEDIATE</option>
        <option value="END">END</option>
      </select>
    </div>

    <h5>Subject (owner)</h5>
    <div formGroupName="subject">
      <div class="row mb-2">
        <div class="col">
          <label>Common Name (CN)</label>
          <input class="form-control" formControlName="commonName">
        </div>
        <div class="col">
          <label>Organization (O)</label>
          <input class="form-control" formControlName="organization">
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label>Organizational Unit (OU)</label>
          <input class="form-control" formControlName="organizationalUnit">
        </div>
        <div class="col">
          <label>Country (C)</label>
          <input class="form-control" formControlName="country" maxlength="2">
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <label>State (ST)</label>
          <input class="form-control" formControlName="state">
        </div>
        <div class="col">
          <label>Locality (L)</label>
          <input class="form-control" formControlName="locality">
        </div>
      </div>

      <div class="mb-3">
        <label>Email</label>
        <input class="form-control" formControlName="email">
      </div>
    </div>

    <h5>Validity</h5>
    <div class="row mb-3">
      <div class="col">
        <label>Issued</label>
        <input type="datetime-local" class="form-control" formControlName="issued">
      </div>
      <div class="col">
        <label>Expires</label>
        <input type="datetime-local" class="form-control" formControlName="expires">
      </div>
    </div>

    <h5>Extensions</h5>
    <div class="mb-2">
      <label>Add common extension:</label>
      <div class="btn-group ms-2">
        <button type="button" class="btn btn-outline-secondary"
                *ngFor="let e of commonExtensions" (click)="addCommonExtension(e)">
          {{ e.name }}
        </button>
      </div>
    </div>

    <div formArrayName="extensions">
      <div *ngFor="let ext of extensions.controls; index as i" [formGroupName]="i" class="card mb-2 p-2">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <div class="row g-2">
              <div class="col-3"><label>OID</label><input class="form-control" formControlName="oid"></div>
              <div class="col-3"><label>Name</label><input class="form-control" formControlName="name"></div>
              <div class="col-2"><label>Critical</label>
                <select class="form-select" formControlName="critical"><option [value]="true">true</option><option [value]="false">false</option></select>
              </div>
              <div class="col-4"><label>Value</label><input class="form-control" formControlName="value" placeholder="e.g. CA:true,pathLen:0 or DNS:example.com"></div>
            </div>
          </div>
          <div class="ms-2">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeExtension(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button class="btn btn-primary" type="submit">Generate</button>
    </div>

    <div *ngIf="result" class="alert alert-success mt-3">Created: {{ result?.serialNumber || result?.id }}</div>
    <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
  </form>
</div>
