<div class="card p-3">
  <h3>All Certificates</h3>
  <div *ngIf="loading" class="alert alert-info">Loading certificates...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <table *ngIf="!loading && certificates.length" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Type</th>
        <th>Issued</th>
        <th>Expires</th>
        <th>Signature Algorithm</th>
        <th>Subject CN</th>
        <th>Subject O</th>
        <th>Subject OU</th>
        <th>Issuer CN</th>
        <th>Issuer O</th>
        <th>Issuer OU</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cert of certificates">
        <td>{{ cert.serialNumber }}</td>
        <td>{{ cert.type }}</td>
        <td>{{ cert.issued | date:'yyyy-MM-dd' }}</td>
        <td>{{ cert.expires | date:'yyyy-MM-dd' }}</td>
        <td>{{ cert.signatureAlgorithm }}</td>
        <td>{{ cert.subjectCN }}</td>
        <td>{{ cert.subjectO }}</td>
        <td>{{ cert.subjectOU }}</td>
        <td>{{ cert.issuerCN }}</td>
        <td>{{ cert.issuerO }}</td>
        <td>{{ cert.issuerOU }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!loading && !certificates.length" class="alert alert-warning">No certificates found.</div>
</div>
